__pycache__
*.pyc
*.cache
*.DS_Store
log.log
*.log*
./SDNode/PATH_CFG.json
SDNode/PATH_CFG.json
SDNode/object_info.json
SDNode/diff_object_info.json
SDNode/config.yaml
SDNode/yaml/config.yaml
SDNode/history/history.json
presets/00测试
groups/00测试
SDNode/pid
.idea